.gitignore

M4/
M5/
M6/
proyecto_m1/
proyecto_m2/
proyecto_m3/
proyecto_m4/
angular-nineteen-mastery/
GestorPro/

DOCUMENTACIÓN/LISTINGS_CODIGOS/M4/*
DOCUMENTACIÓN/LISTINGS_CODIGOS/M5/*
DOCUMENTACIÓN/LISTINGS_CODIGOS/M6/*

DOCUMENTACIÓN/04*
DOCUMENTACIÓN/05*
DOCUMENTACIÓN/06*

