.gitignore

M4/
M5/
M6/
p*SRC/

angular-nineteen-mastery/
GestorPro/

DOCUMENTACIÓN/LISTINGS_CODIGOS/M4/*
DOCUMENTACIÓN/LISTINGS_CODIGOS/M5/*
DOCUMENTACIÓN/LISTINGS_CODIGOS/M6/*

DOCUMENTACIÓN/04*
DOCUMENTACIÓN/05*
DOCUMENTACIÓN/06*

