<div>
    <h1>Contador</h1>
    <h2>valor: {{ contador }}</h2>
    <app-boton-contador [paso]="1" (cambio)="cambiar($event)"></app-boton-contador>
    <app-boton-contador [paso]="-1" (cambio)="cambiar($event)"></app-boton-contador>
    <app-boton-contador [paso]="5" (cambio)="cambiar($event)"></app-boton-contador>
    <app-boton-contador [paso]="-5" (cambio)="cambiar($event)"></app-boton-contador>
    <app-boton-contador [paso]="10" (cambio)="cambiar($event)"></app-boton-contador>
    <app-boton-contador [paso]="-10" (cambio)="cambiar($event)"></app-boton-contador>
    <app-boton-contador [paso]="50" (cambio)="cambiar($event)"></app-boton-contador>
    <app-boton-contador [paso]="-50" (cambio)="cambiar($event)"></app-boton-contador>
    <app-boton-contador [paso]="100" (cambio)="cambiar($event)"></app-boton-contador>
    <app-boton-contador [paso]="-100" (cambio)="cambiar($event)"></app-boton-contador>
    <app-boton-contador [paso]="500" (cambio)="cambiar($event)"></app-boton-contador>
    <app-boton-contador [paso]="-500" (cambio)="cambiar($event)"></app-boton-contador>
    <app-boton-contador [paso]="1000" (cambio)="cambiar($event)"></app-boton-contador>  
    <app-boton-contador [paso]="-1000" (cambio)="cambiar($event)"></app-boton-contador>
</div>
